{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Welcome!</h2><br/>
<p style="font-size: 18px">
    Welcome to All About Books - Single place to find all your favourite books and also own a new one. 
<br /><br />
 <p>   “A room without books is like a body without a soul.” ― Marcus Tullius Cicero   </p>
 <p>   “There is no friend as loyal as a book.” - Ernest Hemingway   </p>
 <p>   “It is what you read when you don't have to that determines what you will be when you can't help it.”  
 ― Oscar Wilde   </p>
</p>
<!-- ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul> -->
{% endblocktrans %}
{% endblock %}
